name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 7.0.100

      - name: Restore NuGet packages
        run: dotnet restore SwiftLocator/SwiftLocator.csproj

      - name: Build the Solution (.NET Framework)
        run: dotnet build SwiftLocator/SwiftLocator.sln --configuration Release --framework net48

      - name: Build the Solution (.NET Core)
        run: dotnet build SwiftLocator/SwiftLocator.sln --configuration Release --framework net5.0

      - name: Test (.NET Framework)
        run: dotnet test SwiftLocatorTest/SwiftLocatorTest.csproj --no-build --configuration Release --framework net48 --logger:console

      - name: Test (.NET Core)
        run: dotnet test SwiftLocatorTest/SwiftLocatorTest.csproj --no-build --configuration Release --framework net5.0 --logger:console
